:root {
  --primary-background-color: #222;
  --secondary-background-color: #ff5400;
  --primary-text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  background-color: var(--primary-background-color);
  font-size: 62.5%;
  @media (min-width: 767px) {
    font-size: 100%;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h2,
h3 {
  font-weight: 600;
  line-height: 1.3;
}

@mixin containerProperties {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

@mixin curveButton {
  background-color: var(--secondary-background-color);
  padding: 6px;
  border-radius: 5px 5px 0;
  font-weight: 600;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -4px;
    width: 10px;
    background-color: var(--secondary-background-color);
    border-radius: 6px 3px;
    transform: skewX(16deg);
  }
}

@mixin justifyBetween($space-between, $items-center) {
  display: flex;
  justify-content: $space-between;
  align-items: $items-center;
}

@mixin dropFilter {
  backdrop-filter: blur(60px) saturate(100%);
  -webkit-backdrop-filter: blur(60px) saturate(100%);
  background-color: transparent;
}

.header {
  position: relative;
  z-index: 5;
  height: 70vh;
  background-image: url('/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include justifyBetween(flex-start, center);
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: var(--primary-background-color);
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    z-index: -1;
  }
  &-content {
    @include containerProperties;
    width: 100%;
    &-title {
      font-weight: 600;
      font-size: 1.5rem;
      color: var(--primary-text-color);
      margin-bottom: 1.25rem;
      @media (min-width: 992px) {
        font-size: 2rem;
      }
    }
    &-price {
      @include justifyBetween(flex-start, center);
      gap: 2rem;
      &-discount {
        position: relative;
        color: var(--primary-text-color);
        @include curveButton;
        z-index: -1;
      }
      &-original {
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--primary-text-color);
      }
    }
    .coming {
      display: inline-block;
      text-decoration: none;
      background-color: #323232;
      box-shadow: inset 0 0 0 1px #6d6d6d;
      color: var(--primary-text-color);
      padding: 0.5rem 0.75rem;
      border-radius: 5px;
      font-weight: 600;
      margin-bottom: 0.75rem;
      &:hover {
        box-shadow: inset 0 0 0 2px #ccc;
      }
    }
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include justifyBetween(space-between, center);
    flex-wrap: wrap;

    @media (min-width: 767px) {
      padding: 1.5rem;
    }
    @media (min-width: 992px) {
      flex-wrap: nowrap;
    }
    .logo {
      order: 1;
      padding: 1rem;
      padding-bottom: 0;
      @media (min-width: 992px) {
        padding-bottom: 1.5rem;
      }
    }
    .navbar {
      position: relative;
      order: 4;
      width: 100%;

      @media (min-width: 992px) {
        order: 2;
        width: 610px;
        margin: 0;
      }
      &-items-search {
        display: flex;
        @include dropFilter;
        padding: 0.5rem;
        padding-right: 3rem;
        border-radius: 15rem;
        position: relative;
        @media (min-width: 767px) {
          padding: 1rem;
          padding-right: 4.5rem;
        }

        .search-form {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 10rem;
          @include justifyBetween(space-between, center);
          color: var(--primary-text-color);
          background-color: #ff5400;
          cursor: pointer;
          transition: all 0.2s;
          input,
          button {
            width: 100%;
            padding: 1rem 0.75rem;
            border-radius: 10rem;
            top: 0;
            bottom: 0;
            background-color: transparent;
            border: transparent;
            display: none;
            color: var(--primary-text-color);
          }
          button {
            width: 12rem;
          }
          i {
            font-size: 1.25rem;
            transition: 0.2s;
            padding: 1.5rem;
            &:hover {
              transform: scale(1.2);
            }
            &:first-child {
              padding: 0.5rem 0.8rem;
              @media (min-width: 767px) {
                padding: 1rem 1.5rem;
              }
            }
            &:last-child {
              position: absolute;

              display: none;
            }
          }
          &.active {
            width: calc(100% - 2.5rem);
            text-align: right;
            margin-right: 2.5rem;
            transition: all 0.2s;
            z-index: 1;
            justify-content: flex-end;
            @media (min-width: 992px) {
              margin-right: 0;
              width: 100%;
            }
            i {
              &:last-child {
                display: inline-block;
                right: -3.25rem;
              }
            }
            input,
            button {
              display: block;
            }
          }
        }
      }
      &-item-links {
        display: none;
        justify-content: center;
        @media (min-width: 992px) {
          display: flex;
        }
        a {
          color: var(--primary-text-color);
          opacity: 0.8;
          padding: 1rem;
          &:hover {
            opacity: 1;
          }
        }
      }
      &-items {
        display: flex;
        li {
          display: flex;
          align-items: center;
        }
        & a {
          color: var(--primary-text-color);

          padding: 0.5rem;
          @media (min-width: 767px) {
            margin: 0 0.5rem;
          }
          &:hover {
            i:last-child {
              opacity: 1;
            }
          }
          i:first-child {
            font-size: 1.25rem;
            margin-right: 0.5rem;
            display: none;
            @media (min-width: 767px) {
              display: inline-block;
            }
          }
          i:last-child {
            color: var(--primary-text-color);
            opacity: 0.8;
            margin-left: 0.5rem;
          }
          & + .dropdown {
            display: none;
            position: absolute;
            top: 2rem;
            padding-top: 4rem;
            left: 0;
            width: 100%;
            z-index: 9;
            .dropdown-content {
              background-image: linear-gradient(to bottom right, var(--primary-background-color) 30%, rgb(77, 77, 6));
              @include dropFilter;
              box-shadow: 0 0 0 2000px rgba(16, 16, 16, 0.6);
              padding: 1.25rem;
              border-radius: 0.5rem;
              .menu-title {
                @include justifyBetween(space-between, center);
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 0.25rem;
                padding-left: 0.5rem;
                span {
                  color: var(--primary-text-color);
                  font-size: 1.25rem;
                }
              }
              .platforms {
                @include justifyBetween(flex-start, center);
                padding: 0.5rem;
                flex-wrap: wrap;
                a {
                  width: 50%;
                  margin: 0;
                  @include justifyBetween(flex-start, center);
                  @media (min-width: 767px) {
                    width: 33.33%;
                  }
                  &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 2rem;
                  }
                  .icon {
                    border-radius: 2rem;
                    margin-right: 0.75rem;
                    padding: 0.5rem;
                    &-inner {
                      mask-repeat: no-repeat;
                      -webkit-mask-repeat: no-repeat;
                      mask-position: center;
                      -webkit-mask-position: center;
                      mask-size: contain;
                      -webkit-mask-size: contain;
                      background-color: var(--primary-text-color);
                      background-size: contain;
                      width: 1.5rem;
                      height: 1.5rem;
                    }
                  }
                  .steam {
                    background-color: #14487b;

                    &-icon {
                      mask-image: url('/images/icon-stm.svg');
                      -webkit-mask-image: url('/images/icon-stm.svg');
                      width: 1.75rem;
                      height: 1.75rem;
                      position: relative;
                      right: 0.5rem;
                    }
                  }
                  .ubisoft-connect {
                    background-color: #1991ff;

                    &-icon {
                      mask-image: url('/images/icon-uplay.svg');
                      -webkit-mask-image: url('/images/icon-uplay.svg');
                    }
                  }
                  .ea-app {
                    background-color: #ff4747;

                    &-icon {
                      mask-image: url('/images/icon-ea-app.svg');
                      -webkit-mask-image: url('/images/icon-ea-app.svg');
                    }
                  }
                  .battle-net {
                    background-color: #2e64ca;

                    &-icon {
                      mask-image: url('/images/icon-battle-net.svg');
                      -webkit-mask-image: url('/images/icon-battle-net.svg');
                    }
                  }
                  .rockstar {
                    background-color: #f6ac33;

                    &-icon {
                      mask-image: url('/images/icon-rock.svg');
                      -webkit-mask-image: url('/images/icon-rock.svg');
                      background-image: linear-gradient(110deg, #000 58%, #fff 0);
                    }
                  }
                  .gog-com {
                    background-color: #78387b;

                    &-icon {
                      mask-image: url('/images/icon-gog-com.svg');
                      -webkit-mask-image: url('/images/icon-gog-com.svg');
                    }
                  }
                  .microsoft {
                    background-color: var(--primary-text-color);

                    &-icon {
                      mask-image: url('/images/icon-ms-store.svg');
                      -webkit-mask-image: url('/images/icon-ms-store.svg');
                      background-image: linear-gradient(90deg, #f25022 0, #f25022 50%, #7fba00 0, #7fba00), linear-gradient(90deg, #00a4ef 0, #00a4ef 50%, #ffb900 0, #ffb900);
                      background-size: 100% 50%;
                      background-position: top, bottom;
                      background-repeat: no-repeat;
                    }
                  }
                  .epic {
                    background-color: #0078f2;

                    &-icon {
                      mask-image: url('/images/icon-epic.svg');
                      -webkit-mask-image: url('/images/icon-epic.svg');
                    }
                  }
                }
              }
              .prepaid {
                @include justifyBetween(space-between, center);
                padding: 0.5rem;
                flex-wrap: wrap;
                a {
                  width: 50%;
                  margin: 0;
                  @include justifyBetween(center, center);
                  flex-direction: column;
                  @media (min-width: 767px) {
                    width: 33.33%;
                  }
                  &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 2rem;
                  }
                  img {
                    display: block;
                    margin: 0 auto;
                    height: 2.25rem;
                  }
                  span {
                    text-align: center;
                  }
                }
              }
            }
          }
          &.active {
            position: relative;
            z-index: 10;
            & + .dropdown {
              display: block;
            }
          }
        }
      }
    }
    .icons {
      order: 3;
      padding: 1rem;
      padding-bottom: 0;
      @media (min-width: 992px) {
        padding-bottom: 1.5rem;
      }
      i {
        font-size: 1.5rem;
        padding: 0.25rem;
        color: var(--primary-text-color);
        &:hover {
          cursor: pointer;
          color: #3077e7;
        }
      }
    }
  }
}

.trending {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  &-container {
    @include containerProperties;
    &-flex {
      @include justifyBetween(space-between, center);
      padding-top: 0.5rem;
      margin-bottom: 2rem;
      h2 {
        font-size: 1.75rem;
      }
      a {
        text-decoration: none;
        background-color: #323232;
        box-shadow: inset 0 0 0 1px #6d6d6d;
        color: var(--primary-text-color);
        padding: 0.5rem 0.75rem;
        border-radius: 5px;
        font-weight: 600;
        &:hover {
          box-shadow: inset 0 0 0 2px #ccc;
        }
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: 576px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media (min-width: 992px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      gap: 2rem;
      .item {
        &-image {
          position: relative;
          img {
            width: 100%;
            height: auto;
            border-radius: 6px;
          }
          .discount {
            position: absolute;
            bottom: -1px;
            left: -3px;
            @include curveButton;
          }
        }
        &-title-price {
          @include justifyBetween(space-between, center);
          margin-top: 0.75rem;
          margin-bottom: 0.75rem;
          .title {
            font-size: 1rem;
            margin-right: auto;
          }
          .price {
            font-size: 1.4rem;
          }
          .dlc {
            text-decoration: none;
            background-color: #323232;
            box-shadow: inset 0 0 0 1px #6d6d6d;
            color: var(--primary-text-color);
            padding: 0.25rem 0.75rem;
            border-radius: 5px;
            font-weight: 600;
            border: transparent;
            margin-right: 0.75rem;
            &:hover {
              box-shadow: inset 0 0 0 2px #ccc;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
